<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="font-size: x-large;">
        Sucessssss !!!!!!!!!!!!!!!!!!!!!!!!!!
    </div>

    <!-- create form to get a view -->
    <form action="/sucess" method="GET">
        <button type="submit">go to sucess</button>
</body>
</html>